{{ define "main" }}
  <div
    class="post {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    {{ if (not .Params.singleNoThumbmail) }}
      {{ if .Params.thumbnail }}
        <div class="post__thumbnail-wrapper">
          <img class="post__thumbnail" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" />
        </div>
      {{ end }}
    {{ end }}
    <div class="post__content h-entry">
      <span style="display: none" class="p-author">Peter Kleiweg</span>
      <a style="display: none" class="u-url" href="{{ .Permalink }}">url</a>
      {{ if (eq .Site.Params.disableTitleCapitalization true) }}
        <h1 class="p-name">{{ .Title }}</h1>
      {{ else }}
        <h1 class="p-name">{{ title .Title }}</h1>
      {{ end }}
      {{ if or (eq .Type "post") (eq .Type .Site.Params.postSectionName) }}
        <ul class="post__meta">
          <li class="post__meta-item">
            <em class="fas fa-calendar-day post__meta-icon"></em>
            <time class="post__meta-text dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
              >{{ if isset .Site.Params "singledateformat" }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format .Site.Params.singleDateFormat .Date }}
                {{ else }}
                  {{ .Date.Format .Site.Params.singleDateFormat }}
                {{ end }}

              {{ else }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format "Mon, Jan 2, 2006" .Date }}
                {{ else }}
                  {{ .Date.Format "Mon, Jan 2, 2006" }}
                {{ end }}

              {{ end }}
            </time>
          </li>
          <li class="post__meta-item">
            <em class="fas fa-stopwatch post__meta-icon"></em>
            <span class="post__meta-text">{{ i18n "reading_time" .ReadingTime }}</span>
          </li>
        </ul>
      {{ end }}

      {{- partial "expirationnote.html" . -}}

      {{- if (eq .Params.toc true) -}}
        {{- partial "toc.html" . -}}
      {{- end -}}

      <div class="e-content">
        {{ .Content }}
      </div>

      {{- if isset .Params "series" -}}
        {{- partial "series.html" . -}}
      {{- end -}}

      {{- if (eq .Site.Params.relatedPosts true) -}}
        {{- partial "related.html" . -}}
      {{- end -}}

      {{- if (eq .Params.contact true) -}}
        {{- partial "contact.html" . -}}
      {{- end -}}

      {{- if (eq .Site.Params.mermaid.enable true) -}}
        {{- partial "mermaid.html" . -}}
      {{- end -}}
    </div>
    <div class="post__footer">
      {{ with .Page.Params.Categories }}
        {{ partial "taxonomy/categories.html" . }}
      {{ end }}

      {{ with .Page.Params.Tags }}
        {{ partial "taxonomy/tags.html" . }}
      {{ end }}
    </div>

    {{ if and (or (eq .Type "post") (eq .Type .Site.Params.postSectionName)) (ne .Page.Params.disableComments true) }}
      {{- if .Site.Config.Services.Disqus.Shortname -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ template "_internal/disqus.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.utterances.repo -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/utterances.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.giscus.repo -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/giscus.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.CommentoURL -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/commento.html" . }}
        </div>
      {{- end -}}
      {{- if .Site.Params.gitalk.repo -}}
        <div id="comment">
          <h2>{{ i18n "comments" }}</h2>
          {{ partial "comments/gitalk.html" . }}
        </div>
      {{- end -}}

    {{ end }}
  </div>
{{ end }}
